<div class="app">
    <div class="row" style="margin: 20px;">
        <div class="block col">
            <div class="value"> <i class="fa fa-user" aria-hidden="true"></i> MailSpark <div class="time">2 days ago</div></div>
            <div class="caption">The last notification sent by</div>
        </div>
        <div class="block col">
            <div class="value">>> 3000<i class="fa fa-signal symbol" aria-hidden="true"></i></div>
            <div class="caption">The total notification recieved</div>
        </div>
        <div class="block col-2">
            <div class="value">12:00 AM<i class="fa fa-clock-o symbol" aria-hidden="true"></i></div>
            <div class="caption">current time</div>
        </div>
    </div>
    <div class="row" style="margin: 20px;">
        <div class="main-block col">
            <!-- the messages -->
            <div class="msg row">
                <div class="col-1 logo">
                    <span>a</span>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col msg-username"> MakeItWeb</div>
                        <div class="col-2"> yesterday</div>
                    </div>
                    <div class="row">
                        <p>messages</p>
                    </div>
                </div>
            </div>

            <div class="msg row">
                <div class="col-1 logo">
                    <span>a</span>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col msg-username"> MakeItWeb</div>
                        <div class="col-2"> yesterday</div>
                    </div>
                    <div class="row">
                        <p>messages</p>
                    </div>
                </div>
            </div>
            <div class="msg row">
                <div class="col-1 logo">
                    <span>a</span>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col msg-username"> MakeItWeb</div>
                        <div class="col-2"> yesterday</div>
                    </div>
                    <div class="row">
                        <p>messages</p>
                    </div>
                </div>
            </div>
            <div class="msg row">
                <div class="col-1 logo">
                    <span>a</span>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col msg-username"> MakeItWeb</div>
                        <div class="col-2"> yesterday</div>
                    </div>
                    <div class="row">
                        <p>messages</p>
                    </div>
                </div>
            </div>

            <!-- the end of the messages -->
        </div>
        <div class="side-block col-4">
            <div class="title"> Sender detail </div>
            <div class="pair row">
                <div class="col key-pair"> company-name </div>
                <div class="col value-pair">webkite tech</div>
            </div>
            <div class="pair row">
                <div class="col key-pair"> time </div>
                <div class="col value-pair">webkite tech</div>
            </div>
            <div class="pair row">
                <div class="col key-pair"> message </div>
                <div class="col value-pair">this is the messages   </div>
            </div>
        </div>
    </div>
</div>