<div class="app">
    <div class="company">
        <div class="company-details">
          <div class="company-header">
            <div class="company-name"><span class="caption">Company name :  </span> TimeStamp</div>
            <div class="job-role"><span class="caption">Job role :  </span>Software Development Engineering</div>
            
          </div>
          <hr>
          <div class="description">
           <span class="caption"> Description </span>
           <p>
             asdfasdfaasdfasdfsdfasdf
             asdfasdf
           </p>
          </div>
        </div>
        <div class="company-status">
          <div class="status-bar">
            <div class="text-bar">
              68% completed
            </div>
            <div class="div-bar">
              <div class="bar"></div>
            </div>
          </div>
          <hr>
          <div class="dict-var">
            <div class="key">Total rounds</div>
            <div class="value">5</div>
          </div>
          <div class="dict-var">
            <div class="key">From date</div>
            <div class="value">02/02/1999</div>
          </div>
          <div class="dict-var">
            <div class="key">To date</div>
            <div class="value">12/11/2000</div>
          </div>
          <hr>
          <h4>messages</h4>
          <div>
            <div class="msg">
              <p>sadfalsfd aslkkf asdlkjf 
                f asdlf jasasd asd
                f asdf 
                sadf 
                sad fdfervd fdf df
              </p>
              <div class="msg-time">12:00</div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="rounds">
        <hr>
          <div class="heading">Recruitment stages</div>
        <hr>
       <!-- the cards -->
       <div class="x_panel">
          <div class="x_content">
            <ul class="list-unstyled timeline">
              <li>
                <div class="block">
                  <div class="tags">
                    <div class="tag">
                      <span>Entertainment</span>
                    </div>
                  </div>
                  <div class="block_content">
                      <h2 class="title">
                        <div>Who Needs Sundance When You’ve Got&nbsp;Crowdfunding?</div>
                      </h2>
                      <div class="byline">
                        <span>13 hours ago</span> by <a>Jane Smith</a>
                      </div>
                      <p class="excerpt">
                        Film festivals used to be do-or-die moments for movie makers.
                        They were where you met the producers that could fund your project,
                          and if the buyers liked your flick,
                          they’d pay to Fast-forward and… <a>Read&nbsp;More</a>
                      </p>
                  </div>
                </div>
              </li>

             
            </ul>
          </div>
        </div>
        <hr>
      <!-- end of card -->
      </div>
      
</div>