.app{
  margin: 0px;
  color: rgb(255, 255, 255);
  font-family: 'Open Sans', sans-serif; 
}
.top,.bottom,.left,.right{
    background-color: #333333;
  }
  .top,.middle,.bottom{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .middle{
    height: 90vh;
    display: flex;
    flex-direction: row;
  }
  .top{
    height: 5vh;
  }
  .bottom{
    height: 5vh;
  }
  .bottom > span{
    padding-top:0.5vh;
    padding-left: 30px;
  }
  .date{
    padding-right: 100px;
  }
  .middle{
    height: 90vh;
   
  }
  
  .btns{
    margin-left: auto;
    margin-right: 50px;
  }
  .btns > button{
    width: 100px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-style: oblique;
    border:none;
    margin: 5px;
    border-radius: 5px;
    transition: all .2s ease-out;
    background-color:white;
    box-shadow: 2px 2px 2px rgba(206, 206, 206, 0.781);
  } 
  .btns > button:hover{
    color: aqua;
    background-color: rgba(206, 206, 206, 0.781);
    box-shadow: 2px 2px 2px white;
  } 
  
  
  .btns > span{
    margin-right: 100px;
  }
  .date{
    padding-right: 100px;
  }
  
  
  
  
  
  
  .cube{
    height: auto;
    width: auto;
    right: 50px;
    bottom: 50px;
    position: fixed;
  }
  
  .sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
  }
  
  .sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); 
    
  }
  
  .sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 255, 255);
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
            animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  .sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
            transform: scale(1.1) rotateZ(90deg);
            
  }
  .sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
            transform: scale(1.1) rotateZ(180deg);
  }
  .sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
            transform: scale(1.1) rotateZ(270deg);
  }
  .sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  .sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s; 
  }
  .sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
  }
  @-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0; 
      
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
      opacity: 1; 
    } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
      opacity: 0; 
    } 
  }
  
  @keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0; 
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
      opacity: 1; 
    } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
      opacity: 0; 
    }
  }