<div class="app">
    <div class="form-inline active-purple-4 search-tag">
        <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search by company id"
          aria-label="Search">
        <i class="fa fa-search" aria-hidden="true"></i>
    </div>
    <div>
        <div class="main-card mb-3 card">   
            <div class="card-header h3 bgcl">
                <span class="heading">COMPANY NAME : </span>
                <span style="color: gray;"> company name </span>
            </div>
            <div class="card-body">
                <p class="h4"><span style="color: dodgerblue;">JOB ROLE :</span> <span style="color: darkblue;"> software developemnet</span> </p>
                <p>With supporting text below as a natural lead-in to additional content.</p>
                <p class="mb-0">Lorem Ipsum has been the industry's standard dummy text ever since the
                    1500s, when an unknown printer took a galley of type and scrambled.</p>
            </div>
            <div class="d-block text-right card-footer bgcl">
                <button class="btn btn-success btn-lg">APPLY</button>
            </div>
        </div>
    </div>
</div>